<section id="menu">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/blog/index.html">Blog</a>
        </li>
        <li>
            <a href="/about.html">About</a>
        </li>
        
    </ul>
</section>