<section id="menu">
    <ul>
        <li>
            <a {% if home %}class="inactive"{% endif %} href="/">Home</a>
        </li>
        <li>
            <a {% if blog %}class="inactive"{% endif %} href="/blog/index.html">Blog</a>
        </li>
        <li>
            <a {% if about %}class="inactive"{% endif %}href="/about.html">About</a>
        </li>   
    </ul>
</section>