---
layout: layouts/base-layout.njk
title: Karel De Smet - Blog
pagination:
  data: collections.article
  size: 3
  reverse: true
  alias: articles
permalink: "/blog/page-{{ pagination.pageNumber + 1 }}/index.html"
slug: "/blog/"
---
<div id="listing">
  {% for article in pagination.items %}
    <section>
      <h3 class="blog-title">
        <a href="{{ article.url | url }}">{{ article.data.title }}</a><span class="article-date"> - {{ article.date | date }}</span>
      </h3>
      <p class="preview">{{ article.data.preview }}</p>
      <a href="{{ article.url | url }}" class="btn-primary">Read more</a>
    </section>
    <hr>
  {% endfor %}
  <nav id="pagination">
  <ul>
    <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous page</a>{% else %}Previous page{% endif %}</li>
    <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next page</a>{% else %}Next page{% endif %}</li>
  <ul>
  </nav>
</div>


