---
layout: layouts/base-layout.njk
blog: true
title: Blog
pagination:
  data: collections.article
  size: 10
  reverse: true
  alias: articles
---
<div id="listing">
  {% for article in articles %}
    <section>
      <h3 class="blog-title">
        <a href="{{ article.url | url }}">{{ article.data.title }}</a><span class="article-date"> - {{ article.date | date }}</span>
      </h3>
      <p class="preview">{{ article.data.preview }}</p>
      <a href="{{ article.url | url }}" class="btn-primary">Read more</a>
    </section>
    <hr>
  {% endfor %}
</div>
