---
layout: layouts/base-layout.njk
title: Karel De Smet
description: 'Software developer from Belgium. Loves to code, read and write.'
---
<main id="home">
  <section id="intro">
      <img src="/assets/img/kareldesmet-transparent.png" />
      <div>
          <h2>
              Hi, my name's Karel.
              <br>
              I'm a web developer and tinkerer.
          </h2>
          <p>
              I love reading books, taking long walks or driving my kids around by bike.
              <br>
              I write off and on about my personal experiences. Mostly but not always related to software
              development.
          </p>
          <a class="button" href="/about"><span class="material-symbols-outlined"
                  style="vertical-align: middle;">
                  waving_hand
              </span> About me</a>
      </div>
  </section>
  <section id="blog-overview">
    <h2 class="uppercase letter-spacing-md  ">Featured blog posts</h2>
    {%- for article in collections.featured | reverse -%}
      <a class="post" href="#">
        <time>{{ article.data.date | date }}</time>
        <div>
            <h3>{{ article.data.title }}</h3>
            <p>{{ article.data.preview }}</p>
        </div>
    </a>
    {%- endfor -%}
</main>