@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond|Oswald&display=swap");

/* Variable declarations! */
:root {
  --body-font: "EB Garamond", serif;
  --header-font: "Oswald", sans-serif;
  --text-color: #111111;
  --secondary-color: #50c5b7;
}

/* General styling! */
body {
  margin: 2rem;
}

p,
li,
ul {
  font-family: var(--body-font);
  color: var(--text-color);
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
}

h1 {
  font-size: 3rem;
  font-weight: 200;
}
h2 {
  text-transform: uppercase;
  font-size: 2rem;
}

a {
  color: var(--secondary-color);
  text-decoration: underline;
}

/* Homepage - Coordinates */
#coordinates {
  text-align: center;
  margin: 0 auto;
}

#coordinates ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#coordinates li {
  padding: 1rem 2rem;
  border-right: 1px solid black;
}

#coordinates li:last-of-type {
  border: none;
}

/* Homepage - Intro */
#intro {
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
}

/* Homepage - Main */
.main-item {
  padding: 2rem;
}

.main-item li {
  margin-bottom: 1rem;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}
