@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond|Oswald&display=swap");

/* Variable declarations! */
:root {
  --body-font: "EB Garamond", serif;
  --header-font: "Oswald", sans-serif;
  --text-color: #111111;
  --secondary-color: #2358d1;
  --tertiary-color: #ffe680;
}

/* General styling! */
body {
  margin: 0;
  padding: 0;
}

p,
li,
ul {
  font-family: var(--body-font);
  color: var(--text-color);
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
}

h1 {
  font-size: 3rem;
  font-weight: 200;
}

h2 {
  text-transform: uppercase;
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
  margin: 1rem 0;
}

a {
  color: var(--secondary-color);
  text-decoration: underline;
}

a.inactive {
  color: var(--secondary-color);
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}

/* Homepage - Menu */
#menu {
  text-align: center;
  margin: 0 auto;
}

#menu ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#menu li {
  padding: 1rem 2rem;
  border-right: 1px solid black;
}

#menu li a {
  font-size: 2rem;
  color: var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-family: var(--header-font);
}

#menu li a:hover {
  text-decoration: none;
}

#menu li:last-of-type {
  border: none;
}

/* Homepage - Intro */
#intro {
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
}

/* About */
#about {
  margin: 3rem auto;
  width: 60%;
}

#about section:nth-of-type(even) {
  background-color: var(--tertiary-color);
  width: 100%;
}

.about-item {
  padding: 2rem;
  margin-bottom: 2rem;
}

.about-item li {
  margin-bottom: 1rem;
}

#social ul {
  list-style-type: none;
  padding: 0;
}

.social-icon {
  height: 1em;
}

/* Blog Overview */
#listing {
  text-align: center;
}

#listing article {
  padding: 3rem;
}

h3.blog-title a {
  color: black;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

h3.blog-title a:hover {
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.article-date {
  color: rgb(133, 133, 133);
  font-weight: normal;
  font-size: 1rem;
}

.preview {
  padding-bottom: 1.5rem;
}

.btn-primary {
  border: 1px solid var(--secondary-color);
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background: white;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  color: white;
  transition: background-color 0.5s ease;
}

#listing hr {
  width: 50%;
}

#listing hr:last-of-type {
  display: none;
}

/* Blog Article */
.main {
  width: 70%;
}

@media (max-width: 800px) {
  /* Menu */
  #menu ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #menu li {
    padding: 1rem 0;
    border: none;
  }

  /* Homepage */
  #intro {
    padding: 0;
  }

  /* About */
  #about {
    width: 100%;
  }

  /* Blog */
  #listing article {
    padding: 3rem 1rem;
  }

  .article-date {
    display: block;
  }
}
