@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond|Oswald&display=swap");

/* Variable declarations! */
:root {
  --body-font: "EB Garamond", serif;
  --header-font: "Oswald", sans-serif;
  --text-color: #111111;
  --secondary-color: #2358d1;
  --tertiary-color: #50c5b7;
}

/* General styling! */
body {
  margin: 2rem;
}

p,
li,
ul {
  font-family: var(--body-font);
  color: var(--text-color);
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
}

h1 {
  font-size: 3rem;
  font-weight: 200;
}

h2 {
  text-transform: uppercase;
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

a {
  color: var(--secondary-color);
  text-decoration: underline;
}

/* Homepage - Menu */
#menu {
  text-align: center;
  margin: 0 auto;
}

#menu ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#menu li {
  padding: 1rem 2rem;
  border-right: 1px solid black;
}

#menu li a {
  color: var(--tertiary-color);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-family: var(--header-font);
}

#menu li a:hover {
  text-decoration: none;
}

#menu li:last-of-type {
  border: none;
}

/* Homepage - Intro */
#intro {
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
}

/* About */
#about {
  margin: 3rem auto;
  width: 60%;
}

.about-item {
  padding: 2rem;
  margin-bottom: 2rem;
}

.about-item li {
  margin-bottom: 1rem;
}

.about-item:nth-of-type(even) {
  background-color: #ffe680;
}

.social-icon {
  height: 1em;
}

/* Blog */
#listing {
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
}

article {
  border-bottom: 1px solid black;
  padding-bottom: 2rem;
}

h3.blog-title a {
  color: black;
  font-weight: 300;
}


@media (max-width: 800px) {
  .flex-grid {
    display: block;
  }

  #about {
    width: 100%;
  }
}
