{% include "./partials/header.njk" %}

	<main id="blog-post">
		<article id="blog-text">
			<time class="article-date">{{ date | date }}</time>
			
			{{ content | safe }}
			
		</article>
		<a class="button" href="/blog">&LeftArrowBar; Return to blog overview</a>
	</main>
	

{% include "./partials/footer.njk" %}