---
permalink: "/blog/{{ url }}.html"
---

{% include "./partials/header.njk" %}
{% include "./partials/menu.njk" %}

	<section class="main">
		{{ content | safe }}
	</section>

{% include "./partials/footer.njk" %}