---
layout: layouts/article-layout.njk
title: "Lessons from a 30-year old student"
url: first-ever-post
date: 2019-05-30
tags: ["article"]
preview: "I thought it would be easy. But there's no such thing as a free lunch."
---

<p>My recap of the 1,5 year curriculum "Blockchain Developer & Architect" at Howest:</p>

<h2>September 22, 2018 - Start of Semester 1</h2>
<p>Arrival in Bruges. We were guided to an old but gigantic classroom, with breakfast and coffee to strengthen our spirits.</p>
<p>After a small introduction, the course overview was presented:</p>

<ul>
<li>Blockchain Development I</li>
<li>Blockchain Architecture I</li>
<li>Security Management, Threat and Risk Assessment</li>
<li>Cryptography</li>
<li>Data Privacy and IT Law</li>
<li>Security Seminars, Study Visits and Challenges</li>
</ul>

<p>If it seems a lot, that means it was. I particularly liked the cryptography class because it made me realize that encryption/hashing is not rocket science after all. Sure, it's not easy to get an in-depth understanding and claiming that we truly understood the mechanics is simply ridiculous. But it did give us something to work with.</p>

<p>The course also incited us to interact with the technology in a business setting. At the end of 2018, we participated in the Howest blockchain hackathon and got the first prize with our concept of sharing household energy (to recharge bicycles, cars, devices ...) in exchange for tokens.</p>

<p><img src="/assets/img/howest-blockchain-hackathon.jpeg" alt="Howest Blockchain Hackathon 2018" width="400"/></p>

<p>Another milestone: our first interactions with Hyperledger in the form of the <a href="https://www.meetup.com/nl-NL/Hyperledger-Brussels/events/254680736/" target="_blank">Hyperledger Brussels meetup</a> on November 6th. We were presented with a roadmap of Hyperledger Fabric and an introduction to <a href="https://www.hyperledger.org/projects/hyperledger-indy" target="_blank">Hyperledger Indy</a> and the <a href="https://sovrin.org/" target="_blank">Sovrin network</a>. Time will tell whether we were witnessing the start of a revolution when it comes to identity management. To be honest, at that time it was very hard to get a grasp on, because we were still at the start of our blockchain education. Hyperledger also seems to have switched focus somewhat to other projects revolving around digital identity such as <a href="https://sovrin.org/hyperledger-aries-community-drives-growth-interoperability-in-2020/" target="_blank">Aries</a>, which looks very promising.</p>