---
layout: layouts/article-layout.njk
title: "Why I picked Eleventy as a static site generator"
url: why-pick-eleventy-static-site-generator
articleDate: "January 9, 2020"
tags: ["article"]
preview: "Lots of ease and a touch of coincidence."
---
<h1>{{ title }}</h1>
<p>In the summer of 2019, a little voice inside of me said: "You need to start going to meetups if you want to become a developer".</p>
<p>And out comes the little devil on your shoulder: "But I don't know anyone else who goes to meetups. So I'll be there alone!".<br>Luckily, I'm past that stage. You won't find me entertaining the whole crowd, but I'll look for a friendly face and say "Hi". So I joined some groups and started scanning them for events in my area.</p>
<h2>My first meetup</h2>
<p>One of the first events that caught my eye was "HackJam Workshop on Docker". I'm not really familiar with Docker, the topic was just of lesser importance. I was looking for a platform to interact with other (aspiring) developers. And this meetup had another important characteristic: convenience. Close to work, not too late in the evening. Aka: perfect!</p>
<p>Wondering where I'm going with this? Bear with me.</p>
<p>So in the weeks leading up to this event, I looked at the program of the previous events. One of them was "HackJam intro to GraphQL".<br>Terra incognita, so as a keen developer you look it up. And I was lead to <a href="https://jamstack.org/" target="_blank">Jamstack.org</a>.</p>
<h2>Javascript, APIs and Markup</h2>
<p>It all started to make sense:</p>
<ul>
<li>Serving static pages is much faster than generating pages on the fly. Logical, right?</li>
<li>Automated build workflows make changes a piece of cake.</li>
<li>Content and code follow the same flow. It assures that what you are looking at locally is also what will be visible in production.</li>
</ul>
