---
layout: layouts/article-layout.njk
title: "Recap from a 30-year old student"
url: recap-from-a-30-year-old-student
articleDate: "February 5, 2020"
tags: ["article"]
preview: "I thought it would be easy. But there's no such thing as a free lunch."
---
<h1>{{ title }}</h1>
<h2>Tl;DR</h2>
<p>I finished a 1,5 year curriculum "Blockchain Developer &amp; Architect" at Howest. It had its ups and downs in terms of course content. Then again, I gained knowledge in several IT related domains so very glad I held on. In the future, I'll remain a firm believer of blockchain applications. We're just a stone's throw away from the breakthrough!</p>
<p>The full story:</p>
<h2>September 22, 2018 - Start of Semester 1</h2>
<p>Arrival in Bruges. We were guided to an old but gigantic classroom, with breakfast and coffee to strengthen our spirits. Our socializing moment was soon interrupted and after a short introduction, the course overview was presented:</p>
<ul>
    <li>Blockchain Development I</li>
    <li>Blockchain Architecture I</li>
    <li>Security Management, Threat and Risk Assessment</li>
    <li>Cryptography</li>
    <li>Data Privacy and IT Law</li>
    <li>Security Seminars, Study Visits and Challenges</li>
</ul>
<p>If it seems a lot, that means it was. And we got straight into it. After a whole day of introductory classes, we were set for the rest of the semester.</p>
<p>Looking back on that first semester, I particularly liked the cryptography class because it made me realize that encryption/hashing is not rocket science after all. Sure, it's not easy to get an in-depth understanding and claiming that we truly understood the mechanics is simply ridiculous. But it did give us something to work with.</p>
<p>The course "Security Seminars, Study Visits and Challenges" also incited us to interact with the technology in a business setting. At the end of 2018, we participated in the Howest blockchain hackathon and got the first prize with our concept of sharing household energy (to recharge bicycles, cars, devices ...) in exchange for tokens.</p>
<p><img src="/assets/img/howest-blockchain-hackathon.jpeg" alt="Howest Blockchain Hackathon 2018" width="400"/></p>
<p>Another milestone: our first interactions with Hyperledger in the form of the <a href="https://www.meetup.com/nl-NL/Hyperledger-Brussels/events/254680736/" target="_blank">Hyperledger Brussels meetup</a> on November 6th. We were presented with a roadmap of Hyperledger Fabric and an introduction to <a href="https://www.hyperledger.org/projects/hyperledger-indy" target="_blank">Hyperledger Indy</a> and the <a href="https://sovrin.org/" target="_blank">Sovrin network</a>. </p>
<p><img src="/assets/img/hyperledger-meetup-resized.jpg" alt="Hyperledger Brussels Meetup" width="400" /></p>
<p>Time will tell whether we were witnessing the start of a revolution when it comes to identity management. Hyperledger also seems to have switched focus somewhat to other projects revolving around digital identity such as <a href="https://sovrin.org/hyperledger-aries-community-drives-growth-interoperability-in-2020/" target="_blank">Aries</a>. Undoubtedly, identity management is one of the most interesting use cases for blockchain, and one that will surely break through in the coming years. If you're wondering what else to expect, I found <a href="https://money.com/ethereum-bitcoin-blockchain-predictions/" target="_blank">this article on Money.com</a> with top predictions for 2020.</p>
<h2>February 16, 2019 - Start of Semester 2</h2>
<p>In semester 2 we had a much smaller set of courses:</p>
<ul>
<li>Blockchain Architecture II</li>
<li>Blockchain Development II</li>
<li>Smart Devices and IoT</li>
</ul>
<p>And boy, did we have fun with Smart Devices and IoT! Our first encounter with the <a href="https://store.arduino.cc/arduino-uno-rev3" target="_blank">Arduino Uno</a> was epic. It felt like middle school's technology class all over again, but a gazillion times better. At the end, we had a couple of sleepless nights working our way through the exam task: creating an application that registered events from an Arduino on a blockchain via the Hyperledger Indy SDK.</p>
<p>The circuit of my exam task looked like this:</p>
<img src="/assets/img/arduino-uno-resized.jpg" alt="Arduino Uno wiring" width="400" />
<p>The other courses took off where we left in the first semester: Solidity. Plus, we were introduced to Hyperledger Composer, which is now unfortunately deprecated. That's a shame, because it allows you to quickly understand the high-level architecture of Hyperledger Fabric.</p>
<p>In the end, I'm sorry to say that most of us found the development classes too static. Luckily, the architecture classes were quite the opposite. Again, we touched new concepts such as cryptoeconomics (just read <a href="https://hackernoon.com/intro-to-cryptoeconomics-c984b020d186" target="_blank">this Hackernoon article</a>) and <a href="https://en.wikipedia.org/wiki/Zero-knowledge_proof" target="_blank">zero-knowledge proofs</a>. A prelude for the final semester?</p>
<h2>September 28, 2019 - Start of Semester 3</h2>
<p>When the 3rd and final semester started, there was a different atmosphere in the room. We all realized that over 60% of the fellow students that started the 1st semester were no longer among us. And we all knew why: it's not easy combining a full-time job and a university college education.</p>
<p>Dedicated to stick this one out, we looked in shock at the final course list:</p>
<ul>
<li>Blockchain project</li>
<li>BPMN and software</li>
<li>WMS/MES</li>
<li>Blockchain Solutions</li>
<li>Secure development</li>
</ul>
<p>I'm not gonna go into too much detail, but it suffices to say that this wasn't what we expected. The project took up nearly all of our available time, which meant we had less time to dig deeper into the more advanced concepts (e.g. <a href="https://hackernoon.com/a-beginners-guide-to-ipfs-20673fedd3f" target="_blank">IPFS</a>) in "Blockchain Solutions". The other 3 classes were hardly related to blockchain, let alone provided valuable content. In my opinion, the first 2 semesters provided a solid foundation and had a fair standard. So we were expecting the final semester to become a "grand finale" but it turned out to be a serious letdown.</p>
<p>That said, the blockchain project managed to rise high above my expectations! We built an application, representing a mortgage register, through which users can invoke/query transactions on a Hyperledger Fabric network via a Node.JS API. The chaincode (read: smart contract) is written in Go and the Hyperledger Fabric network is represented locally using Docker containers.</p>
<p>I'm not gonna go into too much detail, but you can <a href="/assets/files/BC-project-ykman-desmet.pdf" target="_blank">read our exam paper here</a>. The plan for me is to optimize the application and then bring it to Github so others can hopefully learn from it. As you can read in the paper, it still needs error handling and a front-end that's better aligned to the actual business logic. I'll give an update on my blog when I'm done with it.</p>
<h2>The end!</h2>
<p>Wow, we really made it! It was hard and we put a lot of effort in, especially for the blockchain project which was top-notch in terms of knowledge and experience gained.</p>
<p>I would like to say thank you to everyone involved: lecturers, college staff and ofcourse my fellow students. We wouldn't have done this without each other.</p>