---
layout: layouts/article-layout.njk
title: "Why I picked Eleventy as a static site generator"
url: why-pick-eleventy-static-site-generator
articleDate: "January 9, 2020"
tags: 
preview: "Lots of ease and a touch of coincidence."
---
<h1>{{ title }}</h1>
<p>In the summer of 2019, a little voice inside of me said: "You need to start going to meetups if you want to become a developer".</p>
<p>And out comes the little devil on your shoulder: "But I don't know anyone else who goes to meetups. So I'll be there alone!".<br>Luckily, I'm way past that stage. You won't find me entertaining the whole crowd, but I'll look for a friendly face and say "Hi". So I joined some groups and started scanning them for events in my area.
<h2>My first meetup</h2>
<p>One of the first events that caught my eye was "HackJam Workshop on Docker". And I'm not really familiar with Docker, the topic was just of lesser importance. I was looking for a platform to interact with other (aspiring) developers. This meetup had another important characteristic: convenience. Close to work, not too late in the evening. Aka: perfect!</p>
<p>Wondering where I'm going with this article? Bear with me.</p>
<p>So in the weeks leading up to this event, I looked at the program of the previous events. One of them was "HackJam intro to GraphQL".<br>Terra incognita, so as a keen developer you look it up. And you end up on <a href="https://jamstack.org/" target="_blank">Jamstack.org</a>. Beware of the banner leading you to an O'Reilly eBook "Modern Web Development on the JAMstack". It's more of a multi-page ad for static site generators than it is a book... But some takeaways did make sense:</p>
<ul>
<li>Content and code follow the same flow</li>
<li>Less dependencies</li>
<li>Lightweight</li>
</ul>
<p>Afte
<h2>What's next?</h2>
