---
layout: layouts/article-layout.njk
title: "Just watch 'The Art of Code'"
date: 2020-06-03
tags: ["article"]
preview: "Hands down the most amazing talk I've ever seen."
description: "Dylan Beattie gobsmacked the NDC 2020 conference with a talk that will be remembered forever. Simply amazing."
---
<h1>{{ title }}</h1>
<p>Baffled. Astonished. Gobsmacked. Dumbstruck.</p>
<p>I had to look up some synonyms to describe how I felt after watching Dylan Beattie crash down on NDC 2020. He threw the usual playbook out the window and left me in awe about one hour later.</p>
<p>Haven't seen it? Then that's what you should do right now. You'll be amazed after watching this.</p>
<iframe width="90%" height="400" src="https://www.youtube.com/embed/6avJHaC3C2U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" style="margin: 3rem 0;" allowfullscreen></iframe>