---
layout: layouts/article-layout.njk
title: "I've had it with Ubuntu"
date: 2020-07-19
tags: ["article"]
preview: "Read it and weep: I'm going back to Windows."
description: "If you're using Ubuntu or another Linux distribution, you might consider returning to Windows. Let me tell you why."
---
<h1>{{ title }}</h1>
<p>Don't get me wrong. I love Linux. I really do. You get nearly all of the OS <i>oomph</i> for free.</p>
<p>Ever since I started to get into programming, I've been running a dual-boot Windows 10 / Ubuntu. Besides the occasional Word or Excel usage, I don't remember ever choosing Windows on start-up. It seemed utterly stupid knowing we paid all those Windows license fees to Microsoft over the years. Because in the end, I don't think there is anything you could do on one platform, but not on the other. That works both ways.</p>
<p>But I'm sick of it. Sick and tired of <strong>endlessly running terminal commands</strong> to get some itty-bitty program working. Yeah, you heard me right. That means I don't understand Linux? I don't understand my car. But it takes me from A to B. And when I need a new windscreen wiper, I take off the old one and I plug in a new one.</p>
<p>Sure, sometimes it needs maintenance. I make appointment in the garage and it takes me a couple of hours every year. Worst case, they accidentally made a small error and I have to return for another 30 minutes. Yes, I'm referring to Windows Update here. Probably the single most hated feature of Windows. Updating without notice? Oh boy.</p>
<p>But Bill Gates' disciples aren't deaf:</p>
<ul>
    <li>In Windows 10, you can schedule your updates to only run at night. Infallible? Not really. Much smoother? Hell yeah.</li>
    <li><a href="https://www.pcmag.com/reviews/microsoft-windows-defender-security-center" target="_blank">Windows Defender has improved.</a> A lot. Not as safe as Linux? If Ubuntu was as popular as Windows, vulnerability reports would be publicized at hyperspeed.</li>
    <li><a href="https://docs.microsoft.com/en-us/windows/wsl/install-win10" target="_blank">Windows Subsystem for Linux</a> is gaining traction. Don't ask me how it works. But if I ever wanted to fiddle with Hyperledger Fabric again, I'd probably use this instead of doing another dual boot.</li>
</ul>
<p>To conclude: I'm joining the growing number of developers and IT enthusiasts who are rediscovering Windows. Am I completely convinced it's the right decision? Not yet, but right now, it feels like the only decision.</p>
<p>Love Linux and peace out!</p>